@model CategoryViewModel;

@{
    ViewData["Title"] = "Index-Eight";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Kategori</h2>
<div>
    <button class="btn btn-primary mb-2 mr-2" data-toggle="modal" data-target="#categoryCreate">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle">
            <circle cx="12" cy="12" r="10"></circle>
            <line x1="12" y1="8" x2="12" y2="16"></line>
            <line x1="8" y1="12" x2="16" y2="12"></line>
        </svg>
        Kategori Ekle
    </button>
</div>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<table class="table">
    <tr>
        <th>İşlemler</th>
        <th>ID</th>
        <th>Kategori Adı</th>
        <th>Aktif mi?</th>
        <th>Oluşturulma Tarihi</th>
        <th>Güncellenme Tarihi</th>
    </tr>
    @foreach (var item in Model.Categories)
    {
        <tr>
            <td>
                <a href="#" class="view" data-toggle="modal" data-target="/Admin/CategoryIndexUpdateModal/@item.CategoryID">Güncelle</a>
                <br />
                <a href="#" style="padding-left:20px;" class="view" data-toggle="modal" data-target="/Admin/CategoryIndexDeleteModal/@item.CategoryID">Sil</a>
            </td>
            <td>@item.CategoryID</td>
            <td>@item.CategoryName</td>
            <td>@item.CategoryIsActive</td>
            <td>@item.CreatedDate</td>
            <td>@item.ModifiedDate</td>
        </tr>
    }
</table>


<div>
    <a asp-action="Index">Anasayfa</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<div class="modal animated zoomInUp custo-zoomInUp" id="categoryCreate" tabindex="-1" role="dialog"
     aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Yeni Kategori</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                         height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                         stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </div>
            <div class="modal-body">
                <form class="mt-0" asp-action="PostCategory" enctype="multipart/form-data" method="post">
                    <div class="form-row mb-4">
                        <div class="col">
                            <label asp-for="Category.CategoryIsActive">Kategori aktif mi?</label>
                            <select asp-for="Category.CategoryIsActive" name="CategoryIsActive" class="selectpicker" data-width="100%" required>
                                <option disabled selected value="" style="display:none;">Seçiniz</option> 
                                    <option value="true">Aktif</option>
                                    <option value="false">Pasif</option>
                            </select>
                        </div>
                        <div class="col">
                            <label asp-for="Category.CategoryName">Kategori Adı</label>
                            <input asp-for="Category.CategoryName" type="text" class="form-control" placeholder="Kategori Adı" required>
                            <span asp-validation-for="Category.CategoryName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row mb-4">
                        <button type="submit" name="PostCategory" class="btn btn-primary mt-2 mb-2 btn-block">Kategori Ekle</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="modelView" class="modal animated zoomInUp custo-zoomInUp" tabindex="-1" role="dialog"
     aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">

    </div>
</div>